.DS_Store
2026/Coleta de dados com Python via APIs e Web Scraping/TP2/.env
2026/Fron-End com Streamlit/tp2/.streamlit/config.toml
2026/Fron-End com Streamlit/tp2/.vscode/settings.json
2026/Projeto de Bloco - IA Aplicada/TP1/src/__pycache__/preprocessing.cpython-314.pyc
2026/Projeto de Bloco - IA Aplicada/TP1/src/__pycache__/ingesting.cpython-314.pyc
2026/Projeto de Bloco - IA Aplicada/TP1/.env
2026/Projeto de Bloco - IA Aplicada/TP1/.streamlit/config.toml
2026/Projeto de Bloco - IA Aplicada/TP1/.vscode/settings.json
2026/Projeto de Bloco - IA Aplicada/TP1/notebook.ipynb
2026/Projeto de Bloco - IA Aplicada/TP1/data/raw/data.csv
2026/Projeto de Bloco - IA Aplicada/TP1/data/processed_data.csv
