.DS_Store
2026/Coleta de dados com Python via APIs e Web Scraping/TP2/.env
2026/Fron-End com Streamlit/tp2/.streamlit/config.toml
2026/Fron-End com Streamlit/tp2/.vscode/settings.json
2026/Projeto de Bloco - IA Aplicada/TP1/src/__pycache__/preprocessing.cpython-314.pyc
2026/Projeto de Bloco - IA Aplicada/TP1/src/__pycache__/ingesting.cpython-314.pyc
2026/Projeto de Bloco - IA Aplicada/TP1/.env
2026/Projeto de Bloco - IA Aplicada/TP1/.streamlit/config.toml
2026/Projeto de Bloco - IA Aplicada/TP1/.vscode/settings.json
2026/Projeto de Bloco - IA Aplicada/TP1/notebook.ipynb
2026/Projeto de Bloco - IA Aplicada/TP1/data/raw/data.csv
2026/Projeto de Bloco - IA Aplicada/TP1/data/processed_data.csv
2026/Fron-End com Streamlit/tp3/.vscode/settings.json
2026/Coleta de dados com Python via APIs e Web Scraping/TP3/.env
.gitignore
.gitignore
.gitignore
2026/Coleta de dados com Python via APIs e Web Scraping/TP3/src/__pycache__/data.cpython-314.pyc
2026/Coleta de dados com Python via APIs e Web Scraping/TP3/.vscode/settings.json
2026/Projeto de Bloco - IA Aplicada/.vscode/settings.json
2026/Projeto de Bloco - IA Aplicada/PB/.env
2026/Projeto de Bloco - IA Aplicada/PB/src/__pycache__/ingesting.cpython-314.pyc
2026/Projeto de Bloco - IA Aplicada/PB/src/__pycache__/preprocessing.cpython-314.pyc
2026/Projeto de Bloco - IA Aplicada/PB/src/__pycache__/scraping.cpython-314.pyc
2026/Projeto de Bloco - IA Aplicada/PB/src/__pycache__/utils.cpython-314.pyc
2026/Fron-End com Streamlit/at/core/__pycache__/__init__.cpython-314.pyc
2026/Fron-End com Streamlit/at/.vscode/settings.json
2026/Fron-End com Streamlit/at/core/__pycache__/extract_data.cpython-314.pyc
2026/Fron-End com Streamlit/at/core/__pycache__/utils.cpython-314.pyc
2026/Fron-End com Streamlit/at/pages/__pycache__/__init__.cpython-314.pyc
2026/Fron-End com Streamlit/at/pages/__pycache__/match.cpython-314.pyc
2026/Fron-End com Streamlit/at/core/__init__.py
2026/Fron-End com Streamlit/at/pages/__init__.py
